<%= stylesheet_link_tag "sessions/common", :media => "all" %>

<br><br>
<%= form_for :session, url: login_path do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  
  <div class="actions">
  	<%= submit_tag "ログイン" %>
  </div>
<% end %>