<%= stylesheet_link_tag "sessions/common", :media => "all" %>

<div class="inner">
	<%= form_for :session, url: login_path do |f| %>
	<div class="input_block">
		<%= f.label "ログイン：", { :class => "login_label" } %>
  		<%= f.text_field :name, { :class => "login_text" } %>
  	</div>
  	<div class="input_block">
  		<%= f.label "パスワード：", { :class => "login_label" } %>
  		<%= f.text_field :password, { :class => "login_text" } %>
  	</div>
  	<div class="button_block">
  		<%= submit_tag "ログイン", { :class => "login_button" } %>
  	</div>
  <% end %>
</div>
